.FilterContainer {
  background-color: #fcf8e4;
  color: #6b6f5f;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 20vh;
  left: 0;
}
.Filters {
  background-color: #6b6f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}
.Filters select {
  color: #6b6f5f;
  width: 20vw;
  margin: 2vw;
  text-align: center;
}
.Filters button {
  color: #6b6f5f;
  width: 10vw;
  margin: 2vw;
  text-align: center;
  cursor: pointer;
}
.CardContainer {
  min-height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.productsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  width: 15vw;
  margin: 2vw;
  border: #6b6f5f solid 1px;
}
.cardImage {
  height: 25vh;
  width: 90%;
  object-fit: cover;
  margin: 1vw;
}