.headerContainer {
  background-color: #fcf8e4;
  color: #6b6f5f;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px 0px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.headerContainer h1 {
  text-align: center;
}
